{{#partial "title" }}
    Choose
{{/partial}}

<!--form.hbs.-->
{{#partial "content"}}

    <h1>CHOOSE</h1>

    <a href="/animal" type="submit" class="btn btn-success">Animal</a>

    <a href="/endangeredAnimal" type="submit" class="btn btn-info">Endangered Animal</a>
    </form>
{{/partial}}

{{> layout.hbs}}