{{#partial "content"}}
    <div class="pages">
        <h2 class="text-center">Hey Ranger</h2>
        <p>Your Tracking has been added Successfully!!!!</p>
        <a href="/tracking" type="submit" class="btn btn-info">View Tracking</a>
    </div>
{{/partial}}
{{> layout.hbs}}