{{#partial "content"}}
    <div class="nav navbar-nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"> <a href="/ranger" class="rang-btn rang-green">START TRACKING</a></li>
        <li class="nav-item"><a href="/tracking">Tracking list</a></li>
    </div>
    <h1>WILDLIFE TRACKER</h1>
{{/partial}}
{{> layout.hbs}}